<h2>Add Superhero Here:</h2>

<!-- ng-model allows angular to pass those values to the addSuperHeroController.js controller -->
<h4>Superhero Alias:</h4> <input type="text" ng-model="alias" placeholder="Alias"></input>
<h4>First Name (if known):</h4> <input type="text" ng-model="first_name" placeholder="First Name"></input>
<h4>Last Name (if known):</h4> <input type="text" ng-model="last_name" placeholder="Last Name"></input>
<h4>Super Power:</h4> <input type="text" ng-model="power_name" placeholder="Super Power"></input>
<h4>City Protected:</h4> <input type="text" ng-model="city" placeholder="City"></input> <br><br>
<button ng-click="addHero()">Submit Superhero</button>
