<h2>Add Superhero Here:</h2>

<!-- ng-model allows angular to pass those values to the addPetController.js controller -->
<h4>Superhero Alias:</h4> <input type="text" ng-model="superheroAlias" placeholder="Alias"></input>
<h4>First Name (if known):</h4> <input type="number" ng-model="firstName" placeholder="First Name"></input>
<h4>Last Name (if known):</h4> <input type="text" ng-model="lastName" placeholder="Last Name"></input>
<h4>Super Power:</h4> <input type="text" ng-model="superPower" placeholder="Super Power"></input>
<h4>City Protected:</h4> <input type="text" ng-model="city" placeholder="City"></input> <br><br>
<button ng-click="addThisHero()">Submit Superhero</button>
